
* {box-sizing: border-box}

html{
  scroll-behavior: smooth;
}



.sidenav {
   height: 100%;
   width: 0px;
   position: fixed;
   z-index: 1005;
   top: 0;
   right: 0;
   background-color: #fff;
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;

}

.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.sidenav a:hover {
   color: #4C4C4C;
}

.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 0px;
   font-size: 36px;
}

.nav-link {
  position: relative;
  left: 600;
  top: 8px;
}

.dropbtn {
  background-color: #fff;
  color: grey;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropbtn:hover {color: #4C4C4C}

@media screen and (min-height: 50px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 992px) {
  .icon {
    display: none
  }
}

@media screen and (max-width: 768px){
  img {
    max-height: 300px
  }
}


.navbar-brand {
  z-index: 1005;
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.lines {
  position: fixed;
  top: 50px;
  left: 69px;
  z-index: 1001;
  font-size: 10px;
  text-decoration: none;
}

.lines a {
  text-decoration: none;
  color: black
}

.collapsible {
  font-size: 18px;
  background-color: #fff;
  color: #818181;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  padding: 8px 8px 8px 32px;
  transition: max-height 0.2s ease-out;
}

.collapsible:hover {
  color: #4c4c4c
}

.content {
  display: none;
  overflow: hidden;
  color: #40514E;
  text-align: left;
  padding: 8px 8px 8px 10px
}

.carousel-item img {
  height: 500px;
}

@media screen and (max-width: 360px) {
  .navbar-brand {
    font-size: 18px;
    z-index: 0
  }
}

@media screen and (max-width: 336px) {
  .navbar-brand {
    font-size: 16px;
    z-index: 0
  }
}

iframe {
  display: inline;
  position: absolute;
  top: 430px;
  right: 10px;
  width: 340px;
  z-index: 999;
}

@media screen and (max-width: 1040px) {
  iframe {
    top: 575px;
  }
}

.welcome {
  z-index: 998;
  margin-left: 25px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .welcome {
    position: absolute;
    top: 550px;
  }
  iframe {
    top: 400px;
    left: 0px
  }
}

@media screen and (max-width: 335px){
  iframe {
    width: 300px;
  }
}

.event {
  margin-left: 25px;
  margin-right: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  border-radius: 15px;
}

.card a {
  color: orange
}

.card img {
  border-radius: 15px 15px 0px 0px;
}

.date {
  color: grey;
  font-size: 20px;
  position: relative;
}

.dd {
  display: inline-block;
  font-size: 40px;
}

.month {
  position: absolute;
  top: 8px;
  left: 150px;
  font-size: 15px
}

@media screen and (max-width: 768px) {
  .event {
    position: absolute;
    top: 1250px
  }
}

@media screen and (max-width: 325px) {
  .event {
    top: 1278px
  }
}

.card{
  margin: 5% 0%;
}

.card-body{
  margin: 0% 0% 0% 3%;
  padding: 6% 0%;
}

.mb-2 {
  background-color: #fff
}


.activity {
  margin-left: 25px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .event {
    top: 900px;
  }
}
@media screen and (max-width: 667px){
  .event {
    top: 925px;
  }
}

@media screen and (max-width: 617px){
  .event {
    top: 950px
  }
}

@media screen and (max-width: 576px){
  .event {
    top: 975px
  }
}
@media screen and (max-width: 545px){
  .event {
    top: 1000px
  }
}

@media screen and (max-width: 517px){
  .event {
    top: 1025px;
  }
}

@media screen and (max-width: 481px){
  .event {
    top: 1050px;
  }
}

@media screen and (max-width: 456px){
  .event {
    top: 1075px;
  }
}

@media screen and (max-width: 434px){
  .event {
    top: 1100px;
  }
}

@media screen and (max-width: 405px){
  .event {
    top: 1125px;
  }
}

@media screen and (max-width: 401px){
  .event {
    top: 1150px;
  }
}

@media screen and (max-width: 364px){
  .event {
    top: 1175px;
  }
}

@media screen and (max-width: 356px){
  .event {
    top: 1200px;
  }
}

@media screen and (max-width: 338px){
  .event {
    top: 1225px;
  }
}

@media screen and (max-width: 336px){
  .event {
    top: 1250px;
  }
}

@media screen and (max-width: 324px){
  .event {
    top: 1275px;
  }
}

.circular {
  margin-left: 25px;
  margin-right: 10px;
}

.circular .collapsible {
  background-color: #ddd;
  color: black;
  padding: 0px;
  border-radius: 15px;
}

.collapsible .date {
  color: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: solid white;
  display: inline-block;
  background-color: #FF8B17;
  padding: 10px
}

.collapsible .date .month {
  position: absolute;
  left: 65px;
  top: 20px
}

.collapsible .text {
  display: inline-block;
  position: relative;
  top: -8px;
  margin-left: 5px
}

.circular .content img{
  width: 1200px;
  overflow: auto;
}

.download-links {
  float: right;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin: 17px;
}

.download-links a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .circular {
    position: absolute;
    top: 2450px;
    width: 100%
  }
  .circular .collapsible {
    width: 90%;
  }
}

@media screen and (max-width: 577px) {
  .text {
    font-size: 15px
  }
  .circular {
    top: 2475px;
  }
}

@media screen and (max-width: 545px) {
  .circular {
    top: 2500px;
  }
}

@media screen and (max-width: 517px) {
  .circular {
    top: 2525px;
  }
}

@media screen and (max-width: 487px) {
  .pdf {
    display: none;
  }
}

@media screen and (max-width: 457px) {
  .download {
    display: none;
  }
}

@media screen and (max-width: 435px) {
  .circular {
    top: 2550px;
  }
}

@media screen and (max-width: 406px) {
  .circular {
    top: 2575px;
  }
}

@media screen and (max-width: 400px) {
  .circular {
    top: 2600px;
  }
}

@media screen and (max-width: 370px) {
  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 364px) {
  .circular {
    top: 2625px;
  }
}

@media screen and (max-width: 357px) {
  .circular {
    top: 2650px;
  }
}

@media screen and (max-width: 360px) {
  .text {
    font-size: 12px;
  }
}

@media screen and (max-width: 338px) {
  .text {
    font-size: 11px;
  }
}

@media screen and (max-width: 339px) {
  .circular {
    top: 2675px;
  }
}

@media screen and (max-width: 329px) {
  .text {
    font-size: 10.2px;
  }
}

@media screen and (max-width: 325px) {
  .circular {
    top: 2700px;
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    width: 108% !important
  }
}
